<html>

<html lang="en">

<head>
	<title>Fantasy Hold'em</title>
	<meta charset="utf-8" />

	<link rel="stylesheet" href="style.css" type="text/css"/>
	<meta name="viewport content" = "width-device-width, initial-scale=1.0">
</head>

<body style="margin: 0px; padding: 0px; font-family; 'Trebuchet MS',verdana;" class="body">
	<header class="mainHead">
	<style type="text/css">
		table {padding: 50; font-family:verdana;}
		div {font-family:verdana;}
		body { margin: 50 150px;
			background: url(http://cache2.asset-cache.net/xc/455623747.jpg?v=1&c=IWSAsset&k=2&d=B53F616F4B95E5530C835C17FD1D3E7FC3A161E14644FB097EFC7977DF003161) no-repeat center center fixed; 
  	-webkit-background-size: 100% 100%;
  	-moz-background-size: 100% 100%;
  	-o-background-size: 100% 100%;
  	background-size: 100% 100%;
	} 
	</style>

	<table width="80%" style="height: 80%;" cellpadding="10" cellspacing="10" border="0" align="center">
	<tr>
	<td colspan="2" style="height: 100px;" bgcolor="" align="center"><font color="white"><h1>Fantasy Hold'em</font></h1></td></tr>

	<tr><td valign="middle" height="30" bgcolor="B8B7B7"><a href="home">Home</a> <a href="rules">Rules</a></td></tr>

	<tr>

<td width="80%" valign="top" bgcolor="#d2d8c7">	

	<h1 align="center"><font face="Verdana">What is Fantasy Hold'em?</fonts></h1>

	<hr />

	<p>Fantasy Hold'em is a fresh new way to enhance your fantasy football experience.  Fantasy Hold'em incorporates everything you love about fantasy football with the excitement and thrill that can only come from a great game of poker. Fantasy Hold'em offers the best of both worlds and it does so in a way that is incredibly simple, while being fun and providing a challenge at the same time.  "Should I call or Fold!?  I think I will have the best "hand" but I am not sure if the risk/reward is worth it.  I wish I did not have to wait until Monday night to see Peyton Manning's performance!"  Fantasy Hold'em is a game that will be enjoyed by the Hardcore fantasy nerds, and fantasy first timers alike.</p>	

<tr><td colspan="2" align="center" height="20" bgcolor="B8B7B7">Copyright 2014©</td></tr>

</table>
																																							
</div>



</body>

</html>